<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073348767110-2v9o3mdblnh6hpln025i5c0nt3ugfhf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073348767110-2v9o3mdblnh6hpln025i5c0nt3ugfhf6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1073348767110-nh7906v1qe49a8mbbsfb1u058g31e4he.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxYfniJtoqvV9zAft0IfHXjrSOrvasolg</string>
	<key>GCM_SENDER_ID</key>
	<string>1073348767110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pier.ios.mergeshooter</string>
	<key>PROJECT_ID</key>
	<string>merge-shooter-33180171</string>
	<key>STORAGE_BUCKET</key>
	<string>merge-shooter-33180171.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073348767110:ios:d2f8b7432a0e8eab</string>
	<key>DATABASE_URL</key>
	<string>https://merge-shooter-33180171.firebaseio.com</string>
</dict>
</plist>